<h1> <%= title %> </h1>

<p>Your About Me Page should include your legal name, an image of you (I recommend a head and shoulders shot), a short paragraph about who you are. Keep this clean and simple as it may be viewed by perspective employers. (1 Mark: Content)
    e. Your About Me page should include a link to a PDF version of your Resume (1 Mark: Content).
</p>
<h2>Hi friends! This is Eva Fan</h2>
<img src="./content/images/me.jpg" alt="me" width="300"height="400" >
<h4>Enrolled in Software Engineering Technology Program in Centennial College!</h4>
<h4>Learning is my motivation to be knowledgeable in the Tech field. </h4>