<h1> <%= title %> </h1>
<p>Your Contact Page should include your contact information in a panel or other construct. (1 Mark: Content).
    i. Your Contact Page should include a short interactive form that allows the user send you a message and provide basic contact information (First Name, Last Name, Contact Number, Email Address, Message, etc.). This form does not have to be fully functional initially. However, it should be able to capture the information entered by the user and redirect them back to the Home Page (4 Marks: Content).</p>
    <section class="s2">
        <div class="main-container">
            <h3 style="text-align: center;">Contact Me</h3>
            <form id="contact-form">
                <label>First Name:</label>
                <input class="input-field" type="text" name="fname">

                <label>Last Name:</label>
                <input class="input-field" type="text" name="lname">

                <label>Contact Number:</label>
                <input class="input-field" type="text" name="cnumber">

                <label>Email:</label>
                <input class="input-field" type="text" name="email">

                <label>Message:</label>
                <textarea class="input-field" type="text" name="message"></textarea>

                <input id="submit-btn"type="submit" value="Send">
                

                
               
            </form>
        </div>

    </section>